NODE_ENV=development
PORT=2000
DB_URL=mongodb://localhost:27017/discount_db
JWT_SECRET=secretKeyForDiscountServiceJwt
JWT_EXPIRES=1h
SESSION_SECRET=secretKeyForDiscountServiceSession
SESSION_EXPIRES=16h
DEFAULT_PASS=
VERIFY_EXPIRY_MINUTE=30
SMTP_FROM=smtp.nazmul@gmail.com
SMTP_TRANSPORT=smtps://<username>@<domain>:password@smtp.<domain>